.flex-container {
    display: flex;
    justify-content: center;
}

.flex-box {
    margin: 10px;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    width: 200vh;
    object-fit: contain;
}

.fill img {
    flex-shrink: 0;
    width: 100%;
    height: 100%
}

.connect {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

#sign_block {
    text-align: center;
}

.home-page-top {
    margin-top: 70px;
}