* {
  margin: 0;
}

.app {
  height: 100vh;
  background-color: var(--background);
}
.profile-app {
  height: 100vh;
  top: 50%;
  left: 50%;
  background-color: var(--background);
}

.App {
  top: 50%;
  left: 50%;
  background-color: var(--background);
}

.app__posts {
  top: 50%;
  left: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--background);
}

.app__header {
  display: flex;
  background-color: var(--header-bg);
  border-bottom: 1px solid blue;
  position: fixed;
  max-height: 70px;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flex-box {
  padding: 10px;
}

.home-component {
  margin-left: 10px;
}

.logo-img-component{
  margin-left: 500px;
}

.display-name-component {
  display: flex; /* use flexbox layout */
  align-items: center; /* vertically center items */
  margin-left: 500px;
}

/*.app_headerImage {
  padding-left: 600px;
  height: 100px;
  width: 150px;
}*/

.app_Image {
  height: 50px;
  width: 150px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__loginContainer {
  padding-right: 20px !important;
}

.app__uploadBox {
  padding-left: 25%;
  padding-top: 58px;
  padding-bottom: 10px;
  background-color: var(--background);
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
  padding: 20px;
  height: calc(100vh - 40px);
  font-size: large;
  font-weight: bold;
  transition: all .5s;
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  float: right;
  transition: all .5s;
}